nav{
    background-color: #00ffcc;
    padding: 15px;
}

nav a{
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover{
    text-decoration: underline;
}

body{

    background-color: rgb(39, 38, 38);
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

h1{
    color: aqua;
    font-size: 48px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: white;
    font-size: 18px;
    margin: 20px;
}

img{
    border-radius: 10px;
    
}

button{

    background-color: aqua;
    color: white;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;

}

button:hover{
    background-color: #009e867c;
}

form{

    background-color: #2b2b2b;
    padding: 50px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;

}
input.textarea{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

textarea{
    resize: none;
}

input:focus, textarea:focus{
    outline:2px solid #00ffcc;
}